{% extends 'blogs_page/base.html' %}
{% block content %}
        <h4 class="place">您现在的位置是：博客分类&gt; {{ blog_type }}</h4>
    <div class="row">
        <div class="col-xs-12 col-lg-9 col-md-8 col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">博客列表（一共有{{ blogs|length }}篇博客）</div>
                <div class="panel-body">
                    {% for blog in blogs reversed%}
                        <div class="blog">
                            <h4><a href="{% url 'info' blog.id %}">{{ blog.title }}</a></h4>
                            <p class="blog-info">
                                <span class="glyphicon glyphicon-user">吸血姬</span>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-tag"><a href="#">{{ blog.kind }}</a></span>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-calendar">{{ blog.created_time|date:"Y-m-d" }}</span>
                            </p>
                            <p>{{ blog.content|truncatechars:100 }}</p>
                        </div>
                    {% empty %}
                        <div class="blog">
                            <h4>--  暂无博客，敬请期待.... --</h4>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
                <div>
                <ul class="pagination pull-left">
                    <li><span aria-hidden="true">共{{ pages_num }}页</span> </li>
                    <li>
                        {% if page_of_blogs.has_previous %}
                             <a href="?page={{  page_of_blogs.previous_page_number }}" aria-label="Previous">
                                 <span aria-hidden="true">&laquo;</span>
                             </a>
                        {% else %}
                            <span aria-hidden="true">&laquo;</span>
                        {% endif %}
                    </li>

                    {% for page_num in page_range %}
                        {% if page_num == page_of_blogs.number %}
                            <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                        {% endif %}

                    {% endfor %}

                    <li>
                        {% if page_of_blogs.has_next %}
                             <a href=" ?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                 <span aria-hidden="true">&raquo;</span>
                             </a>
                        {% else %}
                            <span aria-hidden="true">&raquo;</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        <!--bloglist end-->
{% endblock %}

