{% extends 'blogs_page/base.html' %}
{% load staticfiles %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock %}
{% block content %}
    <div class="row" style="color: black">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>{{ blog_info.title }}</h3>
            <ul class="blog-info-description">
                <li>作者：吸血姬</li>
                <li>分类：<a href="">{{ blog_info.kind }}</a></li>
                <li>发表日期：{{blog_info.created_time}}</li>
            </ul>
            <div class="blog-content"><p>{{ blog_info.content }}</p></div>
        </div>

    </div>
 <div class="blog-more">
            <p>
                上一篇：
                {% if previous_blog %}
                    <a href="{% url 'info' previous_blog.id %}">{{ previous_blog.title }}</a>
                {% else %}
                    没有了(*╹▽╹*)
                {% endif %}
            </p>
            <p>
                下一篇：
                {% if next_blog %}
                    <a href="{% url 'info' next_blog.id %}">{{ next_blog.title }}</a>
                {% else %}
                    没有了(*╹▽╹*)
                {% endif %}
            </p>
        </div>
{% endblock %}